@CHARSET "UTF-8";

.heading {
    background: none repeat scroll 0 0 transparent;
    font-size: 70px;
    font-weight: normal;
    letter-spacing: -1px;
    line-height: 1;
    margin-top: 0;
    padding-top: 20px;
}
.login-form {
	float: right;
    margin-left: 40px;
    width: 300px;
}
.login-input {
	margin-right: 5px;
}

h1{
	text-shadow: 6px 6px 12px #333333;
}